export GTK_IM_MODULE='fcitx'
export QT_IM_MODULE='fcitx'
export SDL_IM_MODULE='fcitx'
export XMODIFIERS='@im=fcitx'

polkit-dumb-agent &
remaps
clipmenud & 
fcitx -d &
xsetroot -cursor_name Bibata-Original-Classic
nitrogen --restore &
picom &
xscreensaver -no-splash &
xset s off -dpms &
lightson+ -d 2 &
redshift-gtk & # started here becuz systemctl cmd won't work properly
keyboard-center --background-mode &
corectrl &
