! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

Nsxiv.window.background: nord0
Nsxiv.window.foreground: nord15
Nsxiv.bar.background: nord15
Nsxiv.bar.foreground: nord0
Nsxiv.mark.foreground: nord11

xscreensaver.splash: false

!font settings
xscreensaver.Nord.Dialog.headingFont:        -*-terminus-bold-r-*-*-32-*-*-*-*-*-*-*
xscreensaver.Nord.Dialog.bodyFont:           -*-terminus-medium-r-*-*-32-*-*-*-*-*-*-*
xscreensaver.Nord.Dialog.labelFont:          -*-terminus-medium-r-*-*-32-*-*-*-*-*-*-*
xscreensaver.Nord.Dialog.unameFont:          -*-terminus-medium-r-*-*-32-*-*-*-*-*-*-*
xscreensaver.Nord.Dialog.buttonFont:         -*-terminus-bold-r-*-*-32-*-*-*-*-*-*-*
xscreensaver.Nord.Dialog.dateFont:           -*-terminus-medium-r-*-*-20-*-*-*-*-*-*-*
xscreensaver.Nord.passwd.passwdFont:         -*-terminus-bold-r-*-*-32-*-*-*-*-*-*-*

!general dialog box (affects main hostname, username, password text)
xscreensaver.Nord.Dialog.foreground:         nord4
xscreensaver.Nord.Dialog.background:         nord0
xscreensaver.Nord.Dialog.topShadowColor:     nord0
xscreensaver.Nord.Dialog.bottomShadowColor:  nord0
xscreensaver.Nord.Dialog.Button.foreground:  nord4
xscreensaver.Nord.Dialog.Button.background:  nord0

!username/password input box and date text colour
xscreensaver.Nord.Dialog.text.foreground:    nord4
xscreensaver.Nord.Dialog.text.background:    nord0
xscreensaver.Nord.Dialog.internalBorderWidth:36
xscreensaver.Nord.Dialog.borderWidth:        0
xscreensaver.Nord.Dialog.shadowThickness:    2

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.Nord.passwd.thermometer.foreground:  nord11
xscreensaver.Nord.passwd.thermometer.background:  nord0
xscreensaver.Nord.passwd.thermometer.width:       8

!datestamp format--see the strftime(3) manual page for details
xscreensaver.Nord.dateFormat:    %I:%M%p - %a %b %d, %Y
